<h1>Login</h1>

<%= form_for @user, {url: session_path} do |f| %>
<%= f.text_field :email, placeholder:"Email" %>
<%= f.password_field :password, placeholder:"Enter Password" %>

<%= f.submit "Login!" %>

<% end %>