<h1>Users</h1>
<ul>
<% @users.each do |u| %>
	<li>
		User: <%= link_to u.name %>  
	</li>
	<li>
		From: <%= link_to u.location %>
		<%= button_to "X", user_path(u.id), method: :delete %>
	</li>
<% end %>
</ul>